<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalAppointment"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.hospitalapp.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hospitalapp.activity.RegisterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.hospitalapp.activity.ChangePasswordActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.hospitalapp.activity.MakeAppointmentActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.hospitalapp.activity.SelectDoctorActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.hospitalapp.activity.LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.hospitalapp.activity.PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.hospitalapp.activity.NewsDetailActivity"
            android:exported="false" />
    </application>

</manifest>